

.products {


    table {
        width: 100%;
        height: 100%;
    
        thead {
            background-color: red;
        }
    
        tbody {
           tr {
            font-size: 20px;
            font-weight: 900;
            
    
            &:nth-child(2n-1){
                background-color: antiquewhite;
            }
            &:nth-child(2n){
                background-color: beige;
            }
    
            td {
                padding: 5px;
            }
           }
    
           
          
        }
    }
    
    .details {
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        background-color: rgba(160, 170, 170, 0.459);
        
        .modal {
            width: 300px;
            height: 500px;
            // border: 3px solid black;
            background-color: rgb(3, 61, 42);
            padding: 10px;
            position: relative;

            img {
                width: 100%;
                height: 60%;
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                bottom: 20px;
                width: 95%;
                // border: 1px solid black;
                &>* {
                    margin-right: 10px;
                    color: antiquewhite;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }

    }
    
 

}
